/* font-family: 'Baloo Bhai', cursive;
font-family: 'Big Shoulders Text'; */

html, body{
    height: 100%;
    margin: 0;
    font-family: 'Big Shoulders Text';
};

#main {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 10px;
}

h1{
    font-family: 'Baloo Bhai', cursive;
    font-size: 50px;
    width: 100%;
    position: fixed;
    z-index: -2;
    text-align: center;
    margin-top: 0;
}
.metronome {
    border: solid 2px gray;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 100%;
    background-color: black;
}

#metronome-display {
    display: flex;
}

#metronome-display img {
    width: 100px;
    height: 100px;
}

#met-1 {
    transform: scale(1.1);
    margin-right: 8px
}

ul {
    list-style: none;
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notes {
    display: flex;

}

.notes li {
    height: 20vh;
    width: 7vw;
    border: 2px solid black;
    margin:10px;
}

#empty {
    visibility: hidden;
}