body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    background-color: black;
    color: white;
    padding: 15px;
    border: 2px solid black;
    border-radius: 2px;
    text-decoration: none;
    outline: none;
}

a:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}