.halloween {
    background: #232323;
    color: rgb(230, 124, 38);
}

.neon {
    background: #131d3f;
    color: rgb(72, 226, 85);
}

.monochrome {
    background: #75e2c5;
    color: rgb(6, 43, 35);
}